<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório de pedidos</title>
</head>
<body>

<h1>Relatório de pedidos</h1>
<div class="inANDout">
<table>
    <thead>
        <tr class="top">
            <th>Pedido</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
    {% for pedido in pedidos %}
        <tr class="dados">
            <td>{{pedido.id}}</td>
            <td>{{pedido.cliente.nome}}</td>
            <td>{{pedido.data_pedido}}</td>
            <td>{{pedido.valor}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<footer style="background-image:url('/clientes/static/clientes/css/template_a4.png'); background-position: center right;background-repeat: no-repeat;">
  <strong>Copyright &copy;  {% now "Y" as current_year %} {{current_year}} <a href="https://www.a4solutions.com.br/">A4 Solutions</a>.</strong> All rights reserved.
</footer>







</body>
</html>